html,
body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    font-family: 'Unica One', sans-serif;
}

.dropdown-menu {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.dropdown-backdrop {
    position: static;
}

